.c1{
    width:100%;
    height:100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    background-color: #61dafb;
}

.c2,.c3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2{
    width:100%;
    height:60%;

   
}

.c3{
    width:100%;
    height: 40%;

    color: white;
}